<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                       Who is this?
                        <h2>Name: {{ data.name }}</h2>
                        <p>
                            Email: {{ data.email }}<br>
                            Github: {{ data.github }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.');
            this.fetchData();
        },
        data(){
            return {
                data:{},
            }
        },
        methods:{
            fetchData(){
                axios.get('/api/random-data')
                    .then(res=>{
                        this.data=res.data;
                    }).catch(e=>{
                    console.log(e);
                });
            }
        }
    }
</script>
